flow.json
[
    {
        "id": "32b9106a.4589e",
        "type": "tab",
        "label": "Serial I/O",
        "disabled": false,
        "info": ""
    },
    {
        "id": "36d8cfa8.00955",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f0e53ee8.4481e",
        "type": "tab",
        "label": "Tools",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3ef5815c.6122be",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": ";",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "269a3122.a0068e",
        "type": "serial-port",
        "serialport": "COM8",
        "serialbaud": "38400",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": ";",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "ae70536c.3655",
        "type": "serial-port",
        "serialport": "/dev/USB0",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1a348a8a.31fa05",
        "type": "serial-port",
        "serialport": "/dev/tty98",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "2f69877c.f1a878",
        "type": "debug",
        "z": "36d8cfa8.00955",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "73ba80c7.20d9",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "frequency",
        "func": "const fa = msg.payload;\nlet value = fa.value.toString();\n\nwhile(value.length < 9) {\n    value = ' ' + value;\n}\n\nreturn {payload: {frequency: value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 960,
        "wires": [
            [
                "f4957c97.d011b"
            ]
        ]
    },
    {
        "id": "38f94d9a.621b32",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Frequency",
        "info": "",
        "x": 80,
        "y": 900,
        "wires": []
    },
    {
        "id": "32d66e09.a27d62",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Send UI Update",
        "func": "\nreturn msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 279,
        "y": 360,
        "wires": [
            [
                "c229a01c.c9c49",
                "10905f25.f71401"
            ]
        ]
    },
    {
        "id": "bfbcfc9e.c6d8f",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Refresh UI",
        "func": "const RigState = global.get('RigState');\n\nif(msg.uibuilderCtrl !== 'ready for content') {\n    return null;\n}\n\nfor(const rs of RigState.getAll()) {\n    node.send({topic: rs.topic, payload: rs});\n}\n\nnode.done();",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "5254abbf.2aaab4"
            ]
        ]
    },
    {
        "id": "1c4a71e4.2855ce",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "tuner",
        "func": "const ac = msg.payload;\n\nreturn {payload: {tuner: ac.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "3217ca4b.1be0c6"
            ]
        ]
    },
    {
        "id": "8ff43417.662838",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Tuner status",
        "info": "",
        "x": 90,
        "y": 700,
        "wires": []
    },
    {
        "id": "299f4698.81a6aa",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Handle tuner event",
        "func": "const RigSetting = global.get('RigSetting'),\n      RigState = global.get('RigState'),\n      ac = RigState.getRigSetting('ANTENNA_TUNER_CONTROL');\n\nif(msg.payload === 'click') {\n    return {payload: RigSetting.of('ANTENNA_TUNER_CONTROL', ac.value === 'on' ? 'off' : 'on').asSet};\n}\n\nif(msg.payload === 'dblclick') {\n    return {payload: RigSetting.of('ANTENNA_TUNER_CONTROL', 'tune').asSet};\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 818,
        "wires": [
            [
                "96fc3f21.ca5c3"
            ]
        ]
    },
    {
        "id": "615827bd.14ab08",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "lock",
        "func": "let p = msg.payload;\n\nreturn {payload: {lock: p.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 1100,
        "wires": [
            [
                "5c966a43.6ca814"
            ]
        ]
    },
    {
        "id": "66519439.ef50ac",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Dial lock status",
        "info": "",
        "x": 100,
        "y": 1040,
        "wires": []
    },
    {
        "id": "29c9ad6f.f10de2",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Handle tuner event",
        "func": "const RigSetting = global.get('RigSetting'),\n      RigState = global.get('RigState'),\n      lk = RigState.getRigSetting('LOCK');\n\nif(msg.payload === 'click') {\n        return {payload: RigSetting.of('LOCK', !lk.value).asSet};\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 1160,
        "wires": [
            [
                "324563b3.8a6bec"
            ]
        ]
    },
    {
        "id": "eb4acb73.9aa218",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "UI interface",
        "info": "",
        "x": 90,
        "y": 300,
        "wires": []
    },
    {
        "id": "44f940cc.6e0d8",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "mode",
        "func": "let mode = msg.payload;\n\nreturn {payload: {mode: mode.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 260,
        "y": 1300,
        "wires": [
            [
                "7b45ceb6.f23ed"
            ]
        ]
    },
    {
        "id": "a8e86238.c5e45",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "RF mode status",
        "info": "",
        "x": 100,
        "y": 1240,
        "wires": []
    },
    {
        "id": "58188918.128018",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Pre amp status",
        "info": "",
        "x": 100,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8966cf54.edcbc",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "pre_amp",
        "func": "let pre_amp = msg.payload;\n\nreturn {payload: {pre_amp: pre_amp.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 1440,
        "wires": [
            [
                "ff3678f2.db8be8"
            ]
        ]
    },
    {
        "id": "a46ebafd.b79ee8",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Handle pre amp event",
        "func": "const RigSetting = global.get('RigSetting'),\n      RigState = global.get('RigState'),\n      pre_amp = RigState.getRigSetting('PRE-AMP_(IPO)');\n\nif(msg.payload === 'click') {\n    switch(pre_amp.value) {\n    case 'IPO': return {payload: RigSetting.of('PRE-AMP_(IPO)', 'AMP1').asSet};\n    case 'AMP1': return {payload: RigSetting.of('PRE-AMP_(IPO)', 'AMP2').asSet};\n    case 'AMP2': return {payload: RigSetting.of('PRE-AMP_(IPO)', 'IPO').asSet};\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 1500,
        "wires": [
            [
                "5ff01c89.535f64"
            ]
        ]
    },
    {
        "id": "407bcb2b.b76c44",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "alc_status",
        "func": "let alc = msg.payload;\n\nreturn {payload: {alc_status: (alc.value > 5), value: alc.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1640,
        "wires": [
            [
                "3ec17c54.34b114"
            ]
        ]
    },
    {
        "id": "5853dcf5.0ebaa4",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Data ALC status",
        "info": "",
        "x": 100,
        "y": 1580,
        "wires": []
    },
    {
        "id": "967ffaba.c72ea8",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Power Level",
        "info": "",
        "x": 90,
        "y": 1720,
        "wires": []
    },
    {
        "id": "3bae5845.6b7d98",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "S Meter",
        "info": "",
        "x": 70,
        "y": 1920,
        "wires": []
    },
    {
        "id": "a7f8e61b.7258f8",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Load op mode config",
        "func": "\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "'use strict';\n\nconst get_op_mode = function(name) {\n    const op_modes = global.get('op_modes', 'persist');\n};\n\nconst load_op_mode = function(op_mode) {\n    const op_modes = global.get('op_modes', 'persist');\n};\n\nconst save_op_mode = function(op_mode) {\n    global.set('op_modes', op_modes, 'persist');\n};\n\nconst set_op_mode = function(op_mode) {\n    const op_modes = global.get('op_modes', 'persist');\n};\n\nconst OpModes = {\n    getOpMode: get_op_mode,\n    loadOpMode: load_op_mode,\n    saveOpMode: save_op_mode,\n    setOpMode: set_op_mode,\n}\n\nflow.set('OpModes', OpModes);\n\nflow.set('config_save', [\n    062,    // DATA MODE\n    066,    // DATA LCUT FREQ\n    067,    // DATA LCUT SLOPE\n    068,    // DATA HCUT FREQ\n    069,    // DATA HCUT SLOPE\n    070,    // DATA IN SELECT\n    071,    // DATA PTT SELECT\n    072,    // DATA PORT SELECT\n    073,    // DATA OUT LEVEL\n    146,    // DATA VOX GAIN\n    147     // DATA VOX DELAY\n]);\n\nflow.set('menu_save', [\n    'AI1;',\n    'IF;',\n    'AC;',\n    'GT0;',\n    'LK;',\n    'MS;',\n    'PA0;',\n    'PC;',\n    'PA0;',\n    'PC;',\n    'RIA;',\n    'MS1',\n    'RM2'\n]);",
        "finalize": "",
        "x": 445,
        "y": 100,
        "wires": [
            [
                "ddb3e679.c08de8"
            ]
        ]
    },
    {
        "id": "46845026.38c89",
        "type": "inject",
        "z": "36d8cfa8.00955",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "4d9e382a.4c4c88"
            ]
        ],
        "l": false
    },
    {
        "id": "44cffdc0.ab3c94",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Init",
        "info": "",
        "x": 70,
        "y": 40,
        "wires": []
    },
    {
        "id": "dbe11b76.d2f108",
        "type": "trigger",
        "z": "36d8cfa8.00955",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 540,
        "wires": [
            [
                "84528388.0ba3e"
            ]
        ]
    },
    {
        "id": "b49c81d6.a9d11",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Read ALC",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_ALC').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "dbe11b76.d2f108"
            ]
        ]
    },
    {
        "id": "66a16e14.52e4d",
        "type": "trigger",
        "z": "36d8cfa8.00955",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "84528388.0ba3e"
            ]
        ]
    },
    {
        "id": "f7a86e4b.3428a",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Read SWR",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_SWR').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "66a16e14.52e4d"
            ]
        ]
    },
    {
        "id": "bb569b87.045828",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Monitor ALC and SWR during transmit",
        "info": "",
        "x": 170,
        "y": 480,
        "wires": []
    },
    {
        "id": "521af92f.676338",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "s_meter",
        "func": "let sm = msg.payload;\n\nreturn {payload: {s_meter: sm.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 1980,
        "wires": [
            [
                "e83b48b0.1e1f38"
            ]
        ]
    },
    {
        "id": "3577dee8.bb4d82",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "transmit",
        "func": "const tx = msg.payload;\n\nreturn {payload: {transmit: tx.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "90f12983.192f58"
            ]
        ]
    },
    {
        "id": "b70b668c.9fc0f8",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "power_level",
        "func": "let power_level = msg.payload;\n\nreturn {payload: {power_level: power_level.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 1780,
        "wires": [
            [
                "e2b33926.96bdb8"
            ]
        ]
    },
    {
        "id": "5de6016b.1dd4a",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "Update rig",
        "func": "const RigSetting = global.get('RigSetting');\n\nlet value = parseInt(msg.payload, 10);\n\nif(value < 5) {\n    value = 5;\n}\nelse if(value > 100) {\n    value = 100;\n}\n\nreturn {payload: RigSetting.of('POWER_CONTROL', value).asSet};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 1840,
        "wires": [
            [
                "ea279eb4.5dddd"
            ]
        ],
        "outputLabels": [
            "Widget"
        ]
    },
    {
        "id": "6b6a1689.3afd08",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Config items",
        "info": "",
        "x": 90,
        "y": 2060,
        "wires": []
    },
    {
        "id": "9197749a.bfee18",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "config",
        "func": "'use strict;'\n\nconst ConfigItem = flow.get('ConfigItem'),\n      ci = ConfigItem.of(msg.payload.value);\n    \nreturn {payload: ci.toUi}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 250,
        "y": 2120,
        "wires": [
            [
                "d11c8fcb.4bdc5"
            ]
        ]
    },
    {
        "id": "407677ad.560a58",
        "type": "inject",
        "z": "36d8cfa8.00955",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "bd47f514.3c2478"
            ]
        ],
        "l": false
    },
    {
        "id": "bd47f514.3c2478",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "",
        "func": "\nconst ConfigItem = flow.get('ConfigItem'),\n      RigSetting = global.get('RigSetting');\n\n['EX0018;', 'EX099012;', 'EX123456;'].forEach(e => {\n    const rs = RigSetting.fromAnswer(e);\n          ci = ConfigItem.of(rs.value),\n          cirs = ci.asRigSetting;\n\n    node.send({payload: cirs.asSet});\n    node.send({payload: ci.toUi});\n\n    if(cirs.asSet !== e) {\n        throw new Error('ConfigItem.asRigSetting.asRead failed for ' + e);\n    }\n});\n\n// if(ConfigItem.toCat(2) !== 'EX002;') {\n//     throw new Error('ConfigItem.toCat(2) failed');\n// }\n// if(ConfigItem.toCat(42) !== 'EX042;') {\n//     throw new Error('ConfigItem.toCat(42) failed');\n// }\n// if(ConfigItem.toCat(142) !== 'EX142;') {\n//     throw new Error('ConfigItem.toCat(142) failed');\n// }\n\nnode.done();\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 225,
        "y": 240,
        "wires": [
            [
                "149124b5.fac2cb"
            ]
        ]
    },
    {
        "id": "ce1ab306.58aea",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "NOTE: The flow context values are defined in the Setup tab of this function",
        "info": "",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "be54efbb.d0cc2",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "This function runs a simple unit test for ConfigItem",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "10905f25.f71401",
        "type": "debug",
        "z": "36d8cfa8.00955",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "a6360e4a.825c5",
        "type": "serial in",
        "z": "32b9106a.4589e",
        "name": "App Port",
        "serial": "269a3122.a0068e",
        "x": 100,
        "y": 633,
        "wires": [
            [
                "6ce32ef0.5799f",
                "57802d90.f569d4"
            ]
        ]
    },
    {
        "id": "dfdc6e96.c6994",
        "type": "serial out",
        "z": "32b9106a.4589e",
        "name": "App Port",
        "serial": "269a3122.a0068e",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "a11b25b2.41d828",
        "type": "serial in",
        "z": "32b9106a.4589e",
        "name": "Rig Port",
        "serial": "3ef5815c.6122be",
        "x": 106,
        "y": 429.00000953674316,
        "wires": [
            [
                "25b95575.0f35da",
                "96f5efe6.f320b",
                "1fa925f6.030a7a"
            ]
        ]
    },
    {
        "id": "3eb84881.bfc188",
        "type": "serial out",
        "z": "32b9106a.4589e",
        "name": "Rig Port",
        "serial": "3ef5815c.6122be",
        "x": 310,
        "y": 320,
        "wires": []
    },
    {
        "id": "25b95575.0f35da",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "USB  input",
        "func": "node.log(msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 400,
        "wires": []
    },
    {
        "id": "6ce32ef0.5799f",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "pty  input",
        "func": "node.log(msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 660,
        "wires": []
    },
    {
        "id": "953f881.09fb578",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "USB output",
        "func": "node.log(msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "96f5efe6.f320b",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "Handle rig Input",
        "func": "'use strict;'\n\nconst RigSetting = global.get('RigSetting'),\n      RigState = global.get('RigState'),\n      needs_update = flow.get('needs_update'),\n      debounce = flow.get('debounce'),\n      p = msg.payload;\n\nif(p === '?;') {\n    node.send([{payload: '?; found in input'}, null, null]);\n}\n// else if(p.substring(0,2) !== 'VX') {\n\n// }\nelse if(p) {\n    const rs = RigSetting.fromAnswer(p);\n\n    // Send (or debounce) changes in rig state to GUI\n\n    if(rs.debounce) {\n\n        // Debounce the frequency changes\n\n        debounce[rs.name] = rs;\n        flow.set('debounce', debounce);\n        \n        RigState.setRigSetting(rs);\n    }\n    else if(rs.name === 'RM0') {\n        const tx = RigState.getRigSetting('TX_SET');\n\n        let xrs = null;\n\n        if(tx.value) {\n            xrs = RigSetting.of('READ_METER_-_PO', rs.value);\n        }\n        else {\n            xrs = RigSetting.of('READ_METER_-_S_METER', rs.value);\n        }\n        \n        node.send([null, {topic: xrs.topic, payload: xrs}, null]);\n    }\n    else if(rs.name === 'RM2') {\n        const ms = RigState.getRigSetting('METER_SW');\n\n        switch(ms.value) {\n        case 'COMP':    xrs = RigSetting.of('READ_METER_-_COMP', rs.value); break;\n        case 'ALC':     xrs = RigSetting.of('READ_METER_-_ALC', rs.value); break;\n        case 'PO':      xrs = RigSetting.of('READ_METER_-_PO', rs.value); break;\n        case 'SWR':     xrs = RigSetting.of('READ_METER_-_SWR', rs.value); break;\n        case 'ID':      xrs = RigSetting.of('READ_METER_-_ID', rs.value); break;\n        case 'VDD':     xrs = RigSetting.of('READ_METER_-_VDD', rs.value); break;\n        default:\n            node.warn('Failed to find meter translation, RM: ' + rs.value + ', MS: ' + ms.value);\n            break;\n        }\n        \n        node.send([null, {topic: xrs.topic, payload: xrs}, null]);\n    }\n    else {\n\n        // Send changes to rig state in real time.\n\n        if(RigState.hasChanged(rs)) {\n            node.send([null, {topic: rs.topic, payload: rs}, null]);\n        }\n    }\n\n    // Send any replies to queries back to tye aux tty\n\n    if(needs_update.length) {\n        const still_needs_updating = [];\n\n        needs_update.forEach(name => {\n            if(name === rs.name) {\n                node.send([null, null, {payload: rs.rawAnswer}]);\n            }\n            else {\n                still_needs_updating.push(name);\n            }\n        });\n        flow.set('needs_update', still_needs_updating);\n    }\n\n    // Cache non transient query commands\n\n    if(rs.isCacheable) {\n        RigState.setRigSetting(rs);\n    }\n}\nelse {\n    node.send(['Received empty payload?', null, null]);\n}\n\nnode.done();\n\nreturn [null, null, null];\n",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "bff50622.754658"
            ],
            [
                "63e66f45.c3b4c",
                "85ef0169.c887a"
            ],
            [
                "26f39226.04a21e"
            ]
        ],
        "outputLabels": [
            "Errors",
            "Event messsage bus",
            "pty output"
        ]
    },
    {
        "id": "57802d90.f569d4",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "Check cache",
        "func": "'use strict;'\n\nconst RigSetting = global.get('RigSetting'),\n      RigState = global.get('RigState'),\n      needs_update = flow.get('needs_update'),\n      p = msg.payload.toUpperCase();\n\nif(p) {\n    const rs = RigSetting.fromAnswer(p);\n\n    if(rs.desc === 'AUTO_INFORMATION') {\n        if(rs.value) {\n            node.warn('### Got AI1;');\n        }\n        else {\n            node.warn('### Got AI0;');\n        }\n        return [{payload: '?;'}, null];\n    }\n\n    // If a set command, forward it out to the rig\n\n    if(rs.sendToRig) {\n        return [null, {payload: rs.rawAnswer}];\n    }\n\n    // See if answer is already in cache\n\n    const crs = RigState.findRigSetting(rs.name);\n\n    if(crs) {\n        \n        // In cache, return answer\n\n        return [{payload: crs.rawAnswer}, null];\n    }\n\n    // Not in cache, let rig input handler know the answer needs\n    // to passed along.\n\n    needs_update.push(rs.name);\n    flow.set('needs_update', needs_update);\n\n    // Non-cacheable commands always go out, as well\n    // as cache misses\n    \n    return [null, {payload: p}];\n}\n\nnode.warn('Received empty payload?');\n\nreturn [null, null];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 600,
        "wires": [
            [
                "26f39226.04a21e"
            ],
            [
                "dc6c1348.90f2b"
            ]
        ],
        "outputLabels": [
            "pty output",
            "SERIAL_OUT"
        ]
    },
    {
        "id": "26f39226.04a21e",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "pty output",
        "func": "node.log(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 500,
        "wires": [
            [
                "dfdc6e96.c6994"
            ]
        ]
    },
    {
        "id": "ac982a5d.0e3cb8",
        "type": "comment",
        "z": "32b9106a.4589e",
        "name": "NOTE: The global and this flow's context values are defined in the Setup tab of this function",
        "info": "",
        "x": 325,
        "y": 40,
        "wires": []
    },
    {
        "id": "428c5065.ae15f",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "RigSetting & RigState",
        "func": "\n// RigSetting is under the Setup tab\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "'use strict;'\n\nfunction isEmptyValue(value) {\n    if(typeof(value) === 'string' && value.length === 0) {\n        return true;\n    }\n\n    if(value === null || value === undefined) {\n        return true\n    }\n    \n    return false;\n}\n\nfunction intValue(value) {\n    if(isEmptyValue(value)) {\n        return null;\n    }\n    return parseInt(value, 10);\n}\n\nfunction pad(len) {\n    return function(value) {\n        let n = typeof(value) === 'string' ? value : value.toString();\nvalue.substring\n        while(n.length < len) {\n            n = '0' + n;\n        }\n\n        return n;\n    };\n}\nconst pad2 = pad(2);\nconst pad3 = pad(3);\nconst pad4 = pad(4);\nconst pad9 = pad(9);\n\nfunction map_reverse(obj) {\n    const result = {};\n\n    for(const [key, value] of Object.entries(obj)) {\n        result[value] = key;\n    }\n\n    return result;\n}\n\nconst cat_to_ctcss = {\n    '000': '67.0', '001': '69.3', '002': '71.9', '003': '74.4',\n    '004': '77.0', '005': '79.7', '006': '82.5', '007': '85.4',\n    '008': '88.5', '009': '91.5', '010': '94.8', '011': '97.4',\n    '012': '100.0', '013': '103.5', '014': '107.2', '015': '110.9',\n    '016': '114.8', '017': '118.8', '018': '123.0', '019': '127.3',\n    '020': '131.8', '021': '136.5', '022': '141.3', '023': '146.2',\n    '024': '151.4', '025': '156.7', '026': '159.8', '027': '162.2',\n    '028': '165.5', '029': '167.9', '030': '171.3', '031': '173.8',\n    '032': '177.3', '033': '179.9', '034': '183.5', '035': '186.2',\n    '036': '189.9', '037': '192.8', '038': '196.6', '039': '199.5',\n    '040': '203.5', '041': '206.5', '042': '210.7', '043': '218.1',\n    '044': '225.7', '045': '229.1', '046': '233.6', '047': '241.8',\n    '048': '250.3', '049': '254.1'\n};\nconst ctcss_to_cat = map_reverse(cat_to_ctcss);\n\nconst cat_to_CT = {\n    '0': 'CTCSS OFF',\n    '1': 'CTCSS ENC/DEC',\n    '2': 'CTCSS ENC',\n    '3': 'DCS ENC/DEC',\n    '4': 'DCS ENC'\n};\nconst CT_to_cat = map_reverse(cat_to_CT);\n\nconst cat_to_dcs = [\n     23,  25,  26,  31,  32,  36,  43,  47,  51,  53,  54,  65,  71,  72,\n     73,  74, 114, 115, 116, 122, 125, 131, 132, 134, 143, 145, 152, 155,\n    156, 162, 165, 172, 174, 205, 212, 223, 225, 226, 243, 244, 245, 246,\n    251, 252, 255, 261, 263, 265, 266, 271, 274, 306, 311, 315, 325, 331,\n    332, 343, 346, 351, 356, 364, 365, 371, 411, 412, 413, 423, 431, 432,\n    445, 446, 452, 454, 455, 462, 464, 465, 466, 503, 506, 516, 523, 526,\n    532, 546, 565, 606, 612, 624, 627, 631, 632, 654, 662, 664, 703, 712,\n    723, 731, 732, 734, 743, 754\n];\n\nconst band_to_cat = {\n    '1.8 MHz': '00',\n    '3.5 MHz': '01',\n    '5 MHz': '02',\n    '7 MHz': '03',\n    '10 MHz': '04',\n    '14 MHz': '05',\n    '18 MHz': '06',\n    '21 MHz': '07',\n    '24.5 MHz': '08',\n    '28 MHz': '09',\n    '50 MHz': '10',\n    'GEN': '11',\n    'MW': '12',\n    'AIR': '14',\n    '144 MHz': '15',\n    '430 MHz': '16'\n}\n\nconst cat_to_agc = {\n    '0': 'OFF',\n    '1': 'FAST',\n    '2': 'MID',\n    '3': 'SLOW',\n    '4': 'AUTO-FAST',\n    '5': 'AUTO-MID',\n    '6': 'AUTO-SLOW'\n};\nconst agc_to_cat = {\n    'OFF': '0',\n    'FAST': '1',\n    'MID': '2',\n    'SLOW': '3',\n    'AUTO': '4',\n    'AUTO-FAST': '4',\n    'AUTO-MID': '4',\n    'AUTO-SLOW': '4'\n};\n\nconst cat_meter = {\n    '0': 'COMP',\n    '1': 'ALC',\n    '2': 'PO',\n    '3': 'SWR',\n    '4': 'ID',\n    '5': 'VDD'\n};\nconst meter_cat = map_reverse(cat_meter);\n\nconst cat_modes = {\n    1: 'LSB',\n    2: 'USB',\n    3: 'CW',\n    4: 'FM',\n    5: 'AM',\n    6: 'RTTY-LSB',\n    7: 'CW-R',\n    8: 'DATA-LSB',\n    9: 'RTTY-USB',\n    A: 'DATA-FM',\n    B: 'FM-N',\n    C: 'DATA-USB',\n    D: 'AM-N',\n    E: 'C4FM'\n};\nconst modes_cat = map_reverse(cat_modes);\n\nconst cat_offset = {\n    0: 'Simplex',\n    1: '+',\n    2: '-'\n};\nconst offset_cat = map_reverse(cat_offset);\n\nconst cat_preamp = {\n    '0': 'IPO',\n    '1': 'AMP1',\n    '2': 'AMP2'\n};\nconst preamp_cat = map_reverse(cat_preamp);\n\nfunction sendCmd(cmd) {\n    return this._rc.cmd + ';';\n}\nfunction sendCmd0(cmd) {\n    return this._rc.cmd + '0' + ';';\n}\n\nfunction fromBoolean(value) {\n    if(isEmptyValue(value)) {\n        return null;\n    }\n    return value.substring(0, 1) === '1';\n}\nfunction toCatBoolean() {\n    return this._rc.cmd + (this.value ? '1' : '0') + ';';\n}\n\nfunction fromInteger(value) {\n    return intValue(value);\n}\nfunction asInteger() {\n    return this._rc.cmd + pad3(this.value) + ';';\n}\n\nfunction band_info(value) {\n    return {\n        raw: value,\n        mem_chan: intValue(value.substring(0,3)),\n        freq: intValue(value.substring(3,12)),\n        clarifier: value.substring(12,17),\n        rx_clar: value.substring(17, 18) != '0',\n        tx_clar: value.substring(18, 19) != '0',\n        mode: cat_modes[value.substring(19, 20)] || value.substring(21, 22),\n        p7: value.substring(20, 21),\n        tone: value.substring(21, 22),\n        offset: cat_offset[value.substring(26, 27)]\n    };\n}\n\nconst rig_commands = {\n    'AB': {                       // TODO: Needs testing\n        cmd: 'AB',\n        desc: 'VFO-A_TO_VFO-B',\n        asSet: sendCmd,\n    },\n    'AC': {\n        cmd: 'AC',\n        desc: 'ANTENNA_TUNER_CONTROL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            switch(this.value) {\n            case 'off': return this._rc.cmd + '000' + ';';\n            case 'on':  return this._rc.cmd + '001' + ';';\n            case 'tune':return this._rc.cmd + '002' + ';';\n            }\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            switch(value.substring(2, 3)) {\n            case '0':   return 'off';\n            case '1':   return 'on';\n            case '2':   return 'tune';\n            }\n        },\n    },\n    'AG': {\n        cmd: 'AG',\n        desc: 'AF_GAIN',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad3(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 4));\n        }\n    },\n    'AI': {\n        cmd: 'AI',\n        desc: 'AUTO_INFORMATION',\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'AM': {                       // TODO: Needs testing\n        cmd: 'AM',\n        desc: 'VFO-A_TO_MEMORY_CHANNEL',\n        asSet: sendCmd,\n    },\n    'BA': {                       // TODO: Needs testing\n        cmd: 'BA',\n        desc: 'VFO-B_TO_VFO-A',\n        asSet: sendCmd,\n    },\n    'BC': {\n        cmd: 'BC',\n        desc: 'AUTO_NOTCH',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1, 2));\n        }\n    },\n    'BD': {                       // TODO: Needs testing\n        cmd: 'BD',\n        desc: 'BAND_DOWN',\n        asSet: sendCmd,\n    },\n    'BI': {\n        cmd: 'BI',\n        desc: 'BREAK-IN',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'BP00': {                       // TODO: Needs testing\n        cmd: 'BP00',\n        desc: 'MANUAL_NOTCH_ON/OFF',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '00' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(2,3));\n        },\n    },\n    'BP01': {                       // TODO: Needs testing\n        cmd: 'BP01',\n        desc: 'MANUAL_NOTCH_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad3(this.value / 10) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            const r = intValue(value);\n            \n            if(r === null) {\n                return null;\n            }\n            \n            return r * 10;\n        },\n    },\n    'BS': {                       // TODO: Needs testing\n        cmd: 'BS',\n        desc: 'BAND_SELECT',\n        asSetValue() {\n            if(band_to_cat.hasOwnProperty(this.value)) {\n                return this._rc.cmd + band_to_cat[this.value] + ';';\n            }\n\n            throw new Error('Unknown band type: ' + this.value);\n        },\n    },\n    'BU0': {                       // TODO: Needs testing\n        cmd: 'BU0',\n        desc: 'BAND_UP',\n        asSet: sendCmd,\n    },\n    'BY': {                       // TODO: Needs testing\n        cmd: 'BY',\n        desc: 'BUSY',\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1,2));\n        },\n    },\n    'CH0': {                       // TODO: Needs testing\n        cmd: 'CH0',\n        desc: 'CHANNEL_UP',\n        asSet: sendCmd,\n    },\n    'CH1': {                       // TODO: Needs testing\n        cmd: 'CH1',\n        desc: 'CHANNEL_DOWN',\n        asSet: sendCmd,\n    },\n    'CN00': {\n        cmd: 'CN00',\n        desc: 'CTCSS_TONE_FREQUENCY',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + ctcss_to_cat[this.value] + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return cat_to_ctcss[value];\n        },\n    },\n    'CN01': {\n        cmd: 'CN01',\n        desc: 'DCS_TONE_FREQUENCY',\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad3(cat_to_dcs.indexOf(intValue(this.value))) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            const dcs = cat_to_dcs[intValue(value)];\n\n            return (dcs < 100 ? '0' : '') + dcs.toString();\n        },\n    },\n    'CO00': {                       // TODO: Needs testing\n        cmd: 'CO00',\n        desc: 'CONTOUR_ON/OFF',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '000' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(3, 4))\n        },\n    },\n    'CO01': {                       // TODO: Needs testing\n        cmd: 'CO01',\n        desc: 'CONTOUR_FREQ',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad4(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'CO02': {                       // TODO: Needs testing\n        cmd: 'CO02',\n        desc: 'APF_ON/OFF',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '000' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(3, 4))\n        },\n    },\n    'CO03': {                       // TODO: Needs testing\n        cmd: 'CO03',\n        desc: 'APF_FREQ',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad4((this.value + 250) / 10) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            const r = intValue(value);\n            \n            if(r === null) {\n                return null;\n            }\n            \n            return (r * 10) - 250;\n        },\n    },\n    'CS': {\n        cmd: 'CS',\n        desc: 'CW_SPOT',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'CT': {\n        cmd: 'CT',\n        desc: 'CTCSS',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + CT_to_cat[this.value] + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return cat_to_CT[value.substring(1, 2)];\n        },\n    },\n    'DA': {\n        cmd: 'DA',\n        desc: 'DIMMER',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '00' + pad2(this.value.led) + pad2(this.value.tft) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return {\n                led: intValue(value.substring(2, 4)),\n                tft: intValue(value.substring(4))\n            };\n        },\n    },\n    'DN': {                       // TODO: Needs testing\n        cmd: 'DN',\n        desc: 'MIC_DOWN',\n        asSet: sendCmd,\n    },\n    'DT0': {\n        cmd: 'DT0',\n        desc: 'DATE',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + this.value + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value;\n        },\n    },\n    'DT1': {\n        cmd: 'DT1',\n        desc: 'TIME',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + this.value + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value;\n        },\n    },\n    'DT2': {\n        cmd: 'DT2',\n        desc: 'TIME_DIFFERENTIAL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + this.value + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value;\n        },\n    },\n    'ED': {                       // TODO:\n        cmd: 'ED',\n        desc: 'ENCORDER_DOWN',\n    },\n    'EK': {                       // TODO: Needs testing\n        cmd: 'EK',\n        desc: 'ENT_KEY',\n        asSet: sendCmd,\n    },\n    'EU': {                       // TODO:\n        cmd: 'EU',\n        desc: 'ENCORDER_UP',\n    },\n    'EX': {\n        cmd: 'EX',\n        desc: 'MENU',\n        isCacheable: true,\n        isMenu: true,\n        asSetValue() {\n            return this._rc.cmd + pad3(this.value.no) + this.value.value + ';';\n        },\n        asReadValue() {\n            return this._rc.cmd + pad3(this.value.no) + ';';\n        },\n        fromAnswer(value) {\n            return {\n                no: intValue(value.substring(0, 3)),\n                value: value.substring(3)\n            };\n        },\n    },\n    'FA': {\n        cmd: 'FA',\n        desc: 'FREQUENCY_VFO-A',\n        autoInit: true,\n        debounce: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad9(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return intValue(value);\n        },\n    },\n    'FB': {\n        cmd: 'FB',\n        desc: 'FREQUENCY_VFO-B',\n        autoInit: true,\n        debounce: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad9(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return intValue(value);\n        },\n    },\n    'FS': {\n        cmd: 'FS',\n        desc: 'FAST_STEP',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'FT': {                       // TODO:\n        cmd: 'FT',\n        desc: 'FUNCTION_TX',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            if(this.value === 'VFO-A Band Transmitter: TX') {\n                return this._rc.cmd + '2' + ';';\n            }\n            if(this.value === 'VFO-B Band Transmitter: TX') {\n                return this._rc.cmd + '3' + ';';\n            }\n            throw new Error(this._rc.cmd + ' value ' + this.value + ' unknown');\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value === '0' ? 'VFO-A Band Transmitter: TX' : 'VFO-B Band Transmitter: TX';\n        }\n    },\n    'GT': {                       // TODO: Needs testing\n        cmd: 'GT',\n        desc: 'AGC_FUNCTION',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + agc_to_cat[this.value] + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return cat_to_agc[value.substring(1, 2)];\n        },\n    },\n    'ID': {\n        cmd: 'ID',\n        desc: 'IDENTIFICATION',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value;\n        },\n    },\n    'IF': {                       // TODO: Needs testing\n        cmd: 'IF',\n        desc: 'INFORMATION',\n        autoInit: true,\n        debounce: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: band_info,\n    },\n    'IS': {\n        cmd: 'IS',\n        desc: 'IF-SHIFT',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + this.value + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return value.substring(1);\n        },\n    },\n    'KM': {                       // TODO: Needs testing\n        cmd: 'KM',\n        desc: 'KEYER_MEMORY',\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + this.value.no.toString() + this.value.message + ';';\n        },\n        asRead() {\n            return this._rc.cmd + this.value.toString() + ';';\n        },\n        fromAnswer(value) {\n            return {\n                no: value.substring(0,1),\n                message: value.substring(1),\n            };\n        },\n    },\n    'KP': {                       // TODO: Needs testing\n        cmd: 'KP',\n        desc: 'KEY_PITCH',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad2(this.value / 10 - 30) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return (intValue(value) + 30) * 10;\n        },\n    },\n    'KR': {\n        cmd: 'KR',\n        desc: 'KEYER',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'KS': {\n        cmd: 'KS',\n        desc: 'KEY_SPEED',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: asInteger,\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'KY': {\n        cmd: 'KY',\n        desc: 'CW_KEYING',\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n    },\n    'LK': {\n        cmd: 'LK',\n        desc: 'LOCK',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'LM': {\n        cmd: 'LM',\n        desc: 'LOAD_MESSEGE',\n        isCacheable: true,\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        asRead(cmd) {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        fromAnswer(value) {\n            throw new Error(_rc.cmd + ' Not implemented yet');\n        },\n    },\n    'MA': {\n        cmd: 'MA',\n        desc: 'MEMORY_CHANNEL_TO_VFO-A',\n        asSet: sendCmd,\n    },\n    'MC': {\n        cmd: 'MC',\n        desc: 'MEMORY_CHANNEL',\n        isCacheable: true,\n    },\n    'MD': {\n        cmd: 'MD',\n        desc: 'MODE',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + modes_cat[this.value] + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return cat_modes[value.substring(1, 2)];\n        },\n    },\n    'MG': {\n        cmd: 'MG',\n        desc: 'MIC_GAIN',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: asInteger,\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'ML0': {\n        cmd: 'ML0',\n        desc: 'MONITOR_ON/OFF',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '00' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(2,3));\n        },\n    },\n    'ML1': {\n        cmd: 'ML1',\n        desc: 'MONITOR_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad3(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return intValue(value);\n        },\n    },\n    'MR': {\n        cmd: 'MR',\n        desc: 'MEMORY_CHANNEL_READ',\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        asRead(cmd) {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n    },\n    'MS': {\n        cmd: 'MS',\n        desc: 'METER_SW',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + meter_cat[this.value] + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return cat_meter[value.substring(0,1)];\n        },\n    },\n    'MT': {\n        cmd: 'MT',\n        desc: 'MEMORY_CHANNEL_WRITE/TAG',\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        asRead(cmd) {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n    },\n    'MW': {\n        cmd: 'MW',\n        desc: 'MEMORY_CHANNEL_WRITE',\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        asRead(cmd) {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n    },\n    'MX': {\n        cmd: 'MX',\n        desc: 'MOX_SET',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'NA': {\n        cmd: 'NA',\n        desc: 'NARROW',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1, 2));\n        },\n    },\n    'NB': {\n        cmd: 'NB',\n        desc: 'NOISE_BLANKER_STATUS',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + (this.value.substring(1, 2) ? '1' : '0') + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1, 2));\n        },\n    },\n    'NL': {\n        cmd: 'NL',\n        desc: 'NOISE_BLANKER_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad3(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1));\n        },\n    },\n    'NR': {\n        cmd: 'NR',\n        desc: 'NOISE_REDUCTION',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1, 2));\n        },\n    },\n    'OI': {\n        cmd: 'OI',\n        desc: 'OPPOSITE_BAND_INFORMATION',\n        autoInit: true,\n        debounce: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: band_info,\n    },\n    'OS': {\n        cmd: 'OS',\n        desc: 'OFFSET_(REPEATER_SHIFT)',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + offset_cat[this.value] + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return cat_offset[value.substring(1, 2)];\n        },\n    },\n    'PA': {\n        cmd: 'PA',\n        desc: 'PRE-AMP_(IPO)',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + preamp_cat[this.value] + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return cat_preamp[value.substring(1, 2)];\n        },\n    },\n    'PB': {\n        cmd: 'PB',\n        desc: 'PLAY_BACK',\n        asSetValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        asReadValue() {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n        fromAnswer(value) {\n            throw new Error(this._rc.cmd + ' Not implemented yet');\n        },\n    },\n    'PC': {\n        cmd: 'PC',\n        desc: 'POWER_CONTROL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: asInteger,\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'PL': {\n        cmd: 'PL',\n        desc: 'SPEECH_PROCESSOR_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: asInteger,\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'PR0': {\n        cmd: 'PR0',\n        desc: 'SPEECH_PROCESSOR_ON/OFF',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'PR1': {\n        cmd: 'PR1',\n        desc: 'PARAMETRIC_MICROPHONE_EQUALIZER',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'PS': {\n        cmd: 'PS',\n        desc: 'POWER_SWITCH',\n        autoInit: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'QI': {\n        cmd: 'QI',\n        desc: 'QMB_STORE',\n        asSet: sendCmd,\n    },\n    'QR': {\n        cmd: 'QR',\n        desc: 'QMB_RECALL',\n        asSet: sendCmd,\n    },\n    'QS': {\n        cmd: 'QS',\n        desc: 'QUICK_SPLIT',\n        asSet: sendCmd,\n    },\n    'RA': {\n        cmd: 'RA',\n        desc: 'RF_ATTENUATOR',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return fromBoolean(value.substring(1, 2));\n        },\n    },\n    'RC': {\n        cmd: 'RC',\n        desc: 'CLAR_CLEAR',\n        asSet: sendCmd,\n    },\n    'RD': {\n        cmd: 'RD',\n        desc: 'CLAR_DOWN',\n        asSetValue() {\n            return this._rc.cmd + pad4(this.value) + ';';\n        },\n    },\n    'RG': {\n        cmd: 'RG',\n        desc: 'RF_GAIN',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad3(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 4));\n        },\n    },\n    'RI0': {\n        cmd: 'RI0',\n        desc: 'RADIO_INFORMATION_-_HI-SWR',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RI3': {\n        cmd: 'RI3',\n        desc: 'RADIO_INFORMATION_-_REC',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RI4': {\n        cmd: 'RI4',\n        desc: 'RADIO_INFORMATION_-_PLAY',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RI5': {\n        cmd: 'RI5',\n        desc: 'RADIO_INFORMATION_-_VFO-A_TX',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RI6': {\n        cmd: 'RI6',\n        desc: 'RADIO_INFORMATION_-_VFO-B_TX',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RI7': {\n        cmd: 'RI7',\n        desc: 'RADIO_INFORMATION_-_VFO-A_RX',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RIA': {\n        cmd: 'RIA',\n        desc: 'RADIO_INFORMATION_-_TX_LED',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RL': {\n        cmd: 'RL',\n        desc: 'NOISE_REDUCTION_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad2(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 3));\n        },\n    },\n    'RM0': {\n        cmd: 'RM0',\n        desc: 'READ_METER_-_FRONT_PANEL',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM1': {\n        cmd: 'RM1',\n        desc: 'READ_METER_-_S_METER',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM2': {\n        cmd: 'RM2',\n        desc: 'READ_METER_-_OTHER_METER',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM3': {\n        cmd: 'RM3',\n        desc: 'READ_METER_-_COMP',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM4': {\n        cmd: 'RM4',\n        desc: 'READ_METER_-_ALC',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM5': {\n        cmd: 'RM5',\n        desc: 'READ_METER_-_PO',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM6': {\n        cmd: 'RM6',\n        desc: 'READ_METER_-_SWR',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM7': {\n        cmd: 'RM7',\n        desc: 'READ_METER_-_ID',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RM8': {\n        cmd: 'RM8',\n        desc: 'READ_METER_-_VDD',\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'RS': {\n        cmd: 'RS',\n        desc: 'RADIO_STATUS',\n        autoInit: true,\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value === '0' ? 'NORMAL MODE' : 'MENU MODE';\n        },\n    },\n    'RT': {\n        cmd: 'RT',\n        desc: 'CLAR',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'RU': {\n        cmd: 'RU',\n        desc: 'RX_CLARIFIER_PLUS_OFFSET',\n        asSetValue() {\n            return this._rc.cmd + pad4(this.value) + ';';\n        },\n    },\n    'SC': {\n        cmd: 'SC',\n        desc: 'SCAN',\n        asSetValue() {\n            switch(this.value) {\n            case 'off': return this._rc.cmd + '0' + ';';\n            case 'up':  return this._rc.cmd + '1' + ';';\n            case 'down':return this._rc.cmd + '2' + ';';\n            }\n        },\n    },\n    'SD': {\n        cmd: 'SD',\n        desc: 'CW_BREAK-IN_DELAY_TIME',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad4(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'SH': {\n        cmd: 'SH',\n        desc: 'WIDTH',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad2(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 3));\n        },\n    },\n    'SM': {\n        cmd: 'SM',\n        desc: 'S-METER_READING',\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 4));\n        },\n    },\n    'SQ': {\n        cmd: 'SQ',\n        desc: 'SQUELCLH_LEVEL',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + '0' + pad3(this.value) + ';';\n        },\n        asRead: sendCmd0,\n        fromAnswer(value) {\n            return intValue(value.substring(1, 4));\n        },\n    },\n    'SV': {\n        cmd: 'SV',\n        desc: 'SWAP_VFO',\n        asSet: sendCmd,\n    },\n    'TS': {\n        cmd: 'TS',\n        desc: 'TXW',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'TX': {\n        cmd: 'TX',\n        desc: 'TX_SET',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + (this.value ? '1' : '0') + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return !(value === '0');\n        },\n    },\n    'UL': {\n        cmd: 'UL',\n        desc: 'PLL_UNLOCK_STATUS',\n        autoInit: true,\n        isCacheable: true,\n        asRead: sendCmd,\n        fromAnswer(value) {\n            return value === '0' ? 'Lock' : 'Unlock';\n        },\n    },\n    'UP': {\n        cmd: 'UP',\n        desc: 'UP',\n        asSet: sendCmd,\n    },\n    'VD': {\n        cmd: 'VD',\n        desc: 'VOX_DELAY_TIME_/_DATA_VOX_DELAY_TIME',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue() {\n            return this._rc.cmd + pad4(this.value) + ';';\n        },\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n    'VG': {\n        cmd: 'VG',\n        desc: 'VOX_GAIN',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: asInteger,\n        asRead: sendCmd,\n        fromAnswer: fromInteger,\n    },\n//     'VM': {              // FIXME: 'VM' has same desc as 'AM'\n//         cmd: 'VM',\n//         desc: 'VFO-A_TO_MEMORY_CHANNEL',\n//         asSet: sendCmd,\n//     },\n    'VX': {\n        cmd: 'VX',\n        desc: 'VOX_STATUS',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'XT': {\n        cmd: 'XT',\n        desc: 'TX_CLAR',\n        autoInit: true,\n        isCacheable: true,\n        asSetValue: toCatBoolean,\n        asRead: sendCmd,\n        fromAnswer: fromBoolean,\n    },\n    'ZI': {\n        cmd: 'ZI',\n        desc: 'ZERO_IN',\n        asSet: sendCmd,\n    }\n};\n// flow.set('rig_commands', rig_commands);\n\nconst rig_desc = {};\nfor(const [key, value] of Object.entries(rig_commands)) {\n    if(!value.hasOwnProperty('desc')) {\n        throw new Error(key + ' does not have desc property');\n    }\n    if(rig_desc.hasOwnProperty(value.desc)) {\n        throw new Error(key + ' has duplicate desc property');\n    }\n\n    rig_desc[value.desc] = value;\n}\nflow.set('rig_desc', rig_desc);\n\nconst max_menu_length = Object.keys(rig_commands).map( k => k.length ).reduce( (a, v) => a > v ? a : v );\n\nfunction logNonPrintable(arg) {\n    node.log('arg length: ' + arg.length);\n    for (var i = 0; i < arg.length; i++) {\n        node.log('arg[' + i + ']: ' + arg.charCodeAt(i));\n    }\n}\n\nfunction findRigCommand(arg) {\n    if(rig_commands.hasOwnProperty(arg)) {\n        return rig_commands[arg];\n    }\n\n    if(arg.length <= 2) {\n        return null;\n    }\n\n    return findRigCommand(arg.substring(0, arg.length - 1));\n}\n\nconst RigSetting = class {\n    constructor(rc, value, raw_answer) {\n        this._rc = rc;\n        this._value = value;\n        this._raw_answer = raw_answer;\n    }\n\n    get desc() { return this._rc.desc; }\n    get value() { return this._value; }\n    get autoInit() { return this._rc.autoInit; }\n    get debounce() { return this._rc.debounce; }\n    get isMenu() { return this._rc.isMenu; }\n    get isCacheable() { return this._rc.isCacheable; }\n    get topic() { return this._rc.desc; }\n\n    get asSet() {\n        if(this._rc.hasOwnProperty('asSet')) {\n\t\t\treturn this._rc.asSet.call(this);\n        }\n\n        if(this._rc.hasOwnProperty('asSetValue')) {\n            if(isEmptyValue(this._value)) {\n                throw new Error(this._rc.desc + ' asSet() requires a value');\n            }\n\n\t\t\treturn this._rc.asSetValue.call(this);\n        }\n\n        throw new Error(this._rc.desc + ' does not have an asSet() function');\n    }\n\n    get asRead() {\n        if(this._rc.hasOwnProperty('asRead')) {\n\t\t\treturn this._rc.asRead.call(this);\n        }\n\n        if(this._rc.hasOwnProperty('asReadValue')) {\n            if(isEmptyValue(this._value)) {\n                throw new Error(this._rc.desc + ' asRead() requires a value');\n            }\n\n\t\t\treturn this._rc.asReadValue.call(this);\n        }\n\n        throw new Error(this._rc.cmd + ' does not have an asRead() function');\n    }\n\n    get sendToRig() {\n        const hasValue = !isEmptyValue(this._value),\n              hasSet = this._rc.hasOwnProperty('asSet'),\n              hasSetValue = this._rc.hasOwnProperty('asSetValue'),\n              hasRead = this._rc.hasOwnProperty('asRead'),\n              hasReadValue = this._rc.hasOwnProperty('asReadValue');\n\n        if(hasValue && hasSetValue && hasRead) {\n            return hasValue;\n        }\n\n        if((hasSet || hasSetValue) && !(hasRead || hasReadValue)) {\n            return true;\n        }\n\n        return false;\n    }\n\n    get name() {\n        if(this._rc.isMenu) {\n            return this._rc.cmd + pad3(this._value.no);\n        }\n        return this._rc.cmd;\n    }\n\n    get rawAnswer() {\n        if(isEmptyValue(this._raw_answer)) {\n            throw new Error(this._rc.cmd + ' does not have original answer');\n        }\n\n        return this._raw_answer;\n    }\n\n    static of(desc, value) {\n        const rc = rig_desc[desc];\n\n        if(!rc) {\n            throw new Error('\"' + desc + '\" not found');\n        }\n\n        if(isEmptyValue(value)) {\n            new RigSetting(rc, null, null);\n        }\n\n        return new RigSetting(rc, value);\n    }\n\n    static fromAnswer(arg) {\n        let rc = findRigCommand(arg.substring(0, max_menu_length));\n\n        if(rc === null) {\n            \n            // It looks like Winlink Express has a bug:\n            // At one point it sends a MD0C; with four leadnig\n            // ASCII nul (0x0) characters\n\n            node.warn('Failed to find rig command on first try, stripping any non-printable characters and retrying.')\n            logNonPrintable(arg);\n\n            arg = arg.replace(/[^\\x20-\\x7E]+/g, \"\");\n            rc = findRigCommand(arg.substring(0, max_menu_length));\n        }\n        \n        if(rc === null) {\n            throw new Error('Input not found in rig_commands: \"' + arg + '\"');\n        }\n\n        const value = arg.substring(arg.length - 1) === ';' ?  arg.substring(rc.cmd.length, arg.length - 1) : arg.substring(rc.cmd.length);\n\n        if(!rc.hasOwnProperty('fromAnswer')) {\n            throw new Error(rc.cmd + '.fromAnswer() not implemented');\n        }\n\n        if(isEmptyValue(value)) {\n            return new RigSetting(rc, null, arg);\n        }\n\n        return new RigSetting(rc, rc.fromAnswer(value), arg);\n    }\n\n    static getAll() {\n        return Object.values(rig_commands).map(rc => new RigSetting(rc, '', ''));\n    }\n};\nglobal.set('RigSetting', RigSetting);\n\nconst rig_state = {};\nflow.set('rig_state', rig_state);\n\nconst RigState = {\n    findRigSetting(arg) {\n        if(rig_state.hasOwnProperty(arg)) {\n            return rig_state[arg];\n        }\n\n        if(rig_desc.hasOwnProperty(arg)) {\n            return rig_state[rig_desc[arg].cmd];\n        }\n\n        return null;\n    },\n    getRigSetting(arg) {\n        const rs = RigState.findRigSetting(arg);\n\n        if(rs) {\n            return rs;\n        }\n\n        throw new Error('Rig state \"' + arg + '\" not found');\n    },\n\n    setRigSetting(rs) {\n        rig_state[rs.name] = rs;\n    },\n    \n    hasChanged(rs) {\n        if(!rig_state.hasOwnProperty(rs.name)) {\n            return true;\n        }\n\n        const crs = rig_state[rs.name];\n        \n        return this.rawAnswer !== crs.rawAnswer; \n    },\n\n    getAll() {\n        return Object.values(rig_state);\n    },\n}\nglobal.set('RigState', RigState);",
        "finalize": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "a719940e.f96008"
            ]
        ]
    },
    {
        "id": "8f58f4c3.0a9ac8",
        "type": "inject",
        "z": "32b9106a.4589e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 75,
        "y": 120,
        "wires": [
            [
                "428c5065.ae15f"
            ]
        ],
        "l": false
    },
    {
        "id": "bff50622.754658",
        "type": "debug",
        "z": "32b9106a.4589e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 380,
        "wires": []
    },
    {
        "id": "85ef0169.c887a",
        "type": "debug",
        "z": "32b9106a.4589e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 420,
        "wires": []
    },
    {
        "id": "a719940e.f96008",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "Init",
        "func": "const RigSetting = global.get('RigSetting'),\n      ex001 = RigSetting.of('MENU', {no: 1, value: ''});\n\nnode.send({ payload: RigSetting.of('AUTO_INFORMATION', true).asSet });\n\nconst next_setting = RigSetting.getAll().filter( rs => rs.autoInit ).map( rs => rs.asRead );\nnext_setting.push(ex001.asRead);\n\nnode.log('no init commands: ' + next_setting.length);\nnode.log('first command: ' + next_setting[0]);\n\nnode.send({ payload: next_setting.shift() });\n\nflow.set('next_setting', next_setting);\nflow.set('next_config', 2);\n\n\nnode.done();",
        "outputs": 1,
        "noerr": 0,
        "initialize": "'use strict;'\n\nflow.set('needs_update', []);\n\nflow.set('debounce', {});",
        "finalize": "",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "1e1c550b.2edc2b"
            ]
        ]
    },
    {
        "id": "3a8813f3.17702c",
        "type": "comment",
        "z": "32b9106a.4589e",
        "name": "Serial I/O handler",
        "info": "",
        "x": 100,
        "y": 200,
        "wires": []
    },
    {
        "id": "4d9e382a.4c4c88",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "ConfigItem",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "'use strict';\n\nconst RigSetting = global.get('RigSetting');\n        \n// UI Iterface functions\n\nfunction uiMessage(no, value) {\n\treturn {config: {no: no, value: value}};\n}\n\nfunction defaultToUi (no, value) {\n\treturn uiMessage(no, value);\n}\n\nfunction toUiDataMode(no, value) {\n\treturn uiMessage(no, value === '0' ? 'PSK' : 'OTHER');\n}\n\nfunction toUiDataPortSelect(no, value) {\n\treturn uiMessage(no, value === '1' ? 'DATA' : 'USB');\n}\n\nfunction toUiFreq(value, offset) {\n    if(value === 0) {\n        return 'OFF';\n    }\n\n    return ((value + offset) * 50).toString();\n}\n\nfunction toUiMicSelect(no, value) {\n\treturn uiMessage(no, value === '0' ? 'MIC' : 'REAR');\n}\n\nfunction toUiPttSelect(no, value) {\n    switch(value) {\n    case '0': return uiMessage(no, 'DAKY');\n    case '1': return uiMessage(no, 'RTS');\n    case '2': return uiMessage(no, 'DTR');\n    }\n}\n\nfunction toUiSimpleValue(no, value) {\n\treturn uiMessage(no, parseInt(value, 10).toString());\n}\n\nfunction toUiPcKeying(no, value) {\n    switch(value) {\n    case '0': return uiMessage(no, 'OFF');\n    case '1': return uiMessage(no, 'DAKY');\n    case '2': return uiMessage(no, 'RTS');\n    case '3': return uiMessage(no, 'DTR');\n    }\n}\n\nfunction toUiVoicePortSelect(no, value) {\n\treturn uiMessage(no, value === '0' ? 'DATA' : 'USB');\n}\n\nfunction cutFreq(value, offset) {\n    if(value === 0) {\n        return 'OFF';\n    }\n\n    return ((value + offset) * 50).toString();\n}\nfunction toUiLCutFreq(no, value) {\n\treturn uiMessage(no, cutFreq(value, 1));\n}\nfunction toUiSlope(no, value) {\n\treturn uiMessage(no, value === '0' ? '6 dB' : '18 dB');\n}\nfunction toUiHCutFreq(no, value) {\n\treturn uiMessage(no, cutFreq(value, 13));\n}\n\nfunction defaultFromUi (arg) {\n    return null;\n}\n\nfunction toCat(no, value) {\n    let prefix;\n\n    if(no < 10) {\n        prefix = 'EX00' + no;\n    }\n    else if(no < 100) {\n        prefix = 'EX0' + no;\n    }\n    else {\n        prefix = 'EX' + no;\n    }\n\n    if(value) {\n        return prefix + value + ';';\n    }\n    return prefix + ';';\n}\n\nconst config_items = {\n\t1: {desc: 'AGC FAST DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t2: {desc: 'AGC MID DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t3: {desc: 'AGC SLOW DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t4: {desc: 'HOME FUNCTION', toUi: defaultToUi, fromUi: defaultFromUi},\n\t5: {desc: 'MY CALL INDICATION', toUi: defaultToUi, fromUi: defaultFromUi},\n\t6: {desc: 'DISPLAY COLOR', toUi: defaultToUi, fromUi: defaultFromUi},\n\t7: {desc: 'DIMMER LED', toUi: defaultToUi, fromUi: defaultFromUi},\n\t8: {desc: 'DIMMER TFT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t9: {desc: 'BAR MTR PEAK HOLD', toUi: defaultToUi, fromUi: defaultFromUi},\n\t10: {desc: 'DVS RX OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t11: {desc: 'DVS TX OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t12: {desc: 'KEYER TYPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t13: {desc: 'KEYER DOT/DASH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t14: {desc: 'CW WEIGHT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t15: {desc: 'BEACON INTERVAL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t16: {desc: 'NUMBER STYLE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t17: {desc: 'CONTEST NUMBER', toUi: defaultToUi, fromUi: defaultFromUi},\n\t18: {desc: 'CW MEMORY 1', toUi: defaultToUi, fromUi: defaultFromUi},\n\t19: {desc: 'CW MEMORY 2', toUi: defaultToUi, fromUi: defaultFromUi},\n\t20: {desc: 'CW MEMORY 3', toUi: defaultToUi, fromUi: defaultFromUi},\n\t21: {desc: 'CW MEMORY 4', toUi: defaultToUi, fromUi: defaultFromUi},\n\t22: {desc: 'CW MEMORY 5', toUi: defaultToUi, fromUi: defaultFromUi},\n\t23: {desc: 'NB WIDTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t24: {desc: 'NB REJECTION', toUi: defaultToUi, fromUi: defaultFromUi},\n\t25: {desc: 'NB LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t26: {desc: 'BEEP LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t27: {desc: 'TIME ZONE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t28: {desc: 'GPS/232C SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t29: {desc: '232C RATE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t30: {desc: '232C TOT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t31: {desc: 'CAT RATE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t32: {desc: 'CAT TOT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t33: {desc: 'CAT RTS', toUi: defaultToUi, fromUi: defaultFromUi},\n\t34: {desc: 'MEM GROUP', toUi: defaultToUi, fromUi: defaultFromUi},\n\t35: {desc: 'QUICK SPLIT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t36: {desc: 'TX TOT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t37: {desc: 'MIC SCAN', toUi: defaultToUi, fromUi: defaultFromUi},\n\t38: {desc: 'MIC SCAN RESUME', toUi: defaultToUi, fromUi: defaultFromUi},\n\t39: {desc: 'REF FREQ ADJ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t40: {desc: 'CLAR MODE SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t41: {desc: 'AM LCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t42: {desc: 'AM LCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t43: {desc: 'AM HCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t44: {desc: 'AM HCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t45: {desc: 'AM MIC SELECT', toUi: toUiMicSelect, fromUi: defaultFromUi},\n\t46: {desc: 'AM OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t47: {desc: 'AM PTT SELECT', toUi: toUiPttSelect, fromUi: defaultFromUi},\n\t48: {desc: 'AM PORT SELECT', toUi: toUiVoicePortSelect, fromUi: defaultFromUi},\n\t49: {desc: 'AM DATA GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t50: {desc: 'CW LCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t51: {desc: 'CW LCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t52: {desc: 'CW HCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t53: {desc: 'CW HCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t54: {desc: 'CW OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t55: {desc: 'CW AUTO MODE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t56: {desc: 'CW BK-IN TYPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t57: {desc: 'CW BK-IN DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t58: {desc: 'CW WAVE SHAPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t59: {desc: 'CW FREQ DISPLAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t60: {desc: 'PC KEYING', toUi: toUiPcKeying, fromUi: defaultFromUi},\n\t61: {desc: 'QSK DELAY TIME', toUi: defaultToUi, fromUi: defaultFromUi},\n\t62: {desc: 'DATA MODE', toUi: toUiDataMode, fromUi: defaultFromUi},\n\t63: {desc: 'PSK TONE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t64: {desc: 'OTHER DISP (SSB)', toUi: defaultToUi, fromUi: defaultFromUi},\n\t65: {desc: 'OTHER SHIFT (SSB)', toUi: defaultToUi, fromUi: defaultFromUi},\n\t66: {desc: 'DATA LCUT FREQ', toUi: toUiLCutFreq, fromUi: defaultFromUi},\n\t67: {desc: 'DATA LCUT SLOPE', toUi: toUiSlope, fromUi: defaultFromUi},\n\t68: {desc: 'DATA HCUT FREQ', toUi: toUiHCutFreq, fromUi: defaultFromUi},\n\t69: {desc: 'DATA HCUT SLOPE', toUi: toUiSlope, fromUi: defaultFromUi},\n\t70: {desc: 'DATA IN SELECT', toUi: toUiMicSelect, fromUi: defaultFromUi},\n\t71: {desc: 'DATA PTT SELECT', toUi: toUiPttSelect, fromUi: defaultFromUi},\n\t72: {desc: 'DATA PORT SELECT', toUi: toUiDataPortSelect, fromUi: defaultFromUi},\n\t73: {desc: 'DATA OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t74: {desc: 'FM MIC SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t75: {desc: 'FM OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t76: {desc: 'FM PKT PTT SELECT', toUi: toUiDataPortSelect, fromUi: defaultFromUi},\n\t77: {desc: 'FM PKT PORT SELECT', toUi: toUiDataPortSelect, fromUi: defaultFromUi},\n\t78: {desc: 'FM PKT TX GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t79: {desc: 'FM PKT MODE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t80: {desc: 'RPT SHIFT 28MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t81: {desc: 'RPT SHIFT 50MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t82: {desc: 'RPT SHIFT 144MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t83: {desc: 'RPT SHIFT 430MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t84: {desc: 'ARS 144MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t85: {desc: 'ARS 430MHz', toUi: defaultToUi, fromUi: defaultFromUi},\n\t86: {desc: 'DCS POLARITY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t87: {desc: 'RADIO ID', toUi: defaultToUi, fromUi: defaultFromUi},\n\t88: {desc: 'GM DISPLY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t89: {desc: 'DISTANCE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t90: {desc: 'AMS TX MODE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t91: {desc: 'STANDBY BEEP', toUi: defaultToUi, fromUi: defaultFromUi},\n\t92: {desc: 'RTTY LCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t93: {desc: 'RTTY LCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t94: {desc: 'RTTY HCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t95: {desc: 'RTTY HCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t96: {desc: 'RTTY SHIFT PORT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t97: {desc: 'RTTY POLARITY-RX', toUi: defaultToUi, fromUi: defaultFromUi},\n\t98: {desc: 'RTTY POLARITY-TX', toUi: defaultToUi, fromUi: defaultFromUi},\n\t99: {desc: 'RTTY OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t100: {desc: 'RTTY SHIFT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t101: {desc: 'RTTY MARK FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t102: {desc: 'SSB LCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t103: {desc: 'SSB LCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t104: {desc: 'SSB HCUT FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t105: {desc: 'SSB HCUT SLOPE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t106: {desc: 'SSB MIC SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t107: {desc: 'SSB OUT LEVEL', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t108: {desc: 'SSB PTT SELECT', toUi: toUiPttSelect, fromUi: defaultFromUi},\n\t109: {desc: 'SSB PORT SELECT', toUi: toUiVoicePortSelect, fromUi: defaultFromUi},\n\t110: {desc: 'SSB TX BPF', toUi: defaultToUi, fromUi: defaultFromUi},\n\t111: {desc: 'APF WIDTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t112: {desc: 'CONTOUR LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t113: {desc: 'CONTOUR WIDTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t114: {desc: 'IF NOTCH WIDTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t115: {desc: 'SCP DISPLAY MODE', toUi: defaultToUi, fromUi: defaultFromUi},\n\t116: {desc: 'SCP SPAN FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t117: {desc: 'SPECTRUM COLOR', toUi: defaultToUi, fromUi: defaultFromUi},\n\t118: {desc: 'WATER FALL COLOR', toUi: defaultToUi, fromUi: defaultFromUi},\n\t119: {desc: 'PRMTRC EQ1 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t120: {desc: 'PRMTRC EQ1 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t121: {desc: 'PRMTRC EQ1 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t122: {desc: 'PRMTRC EQ2 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t123: {desc: 'PRMTRC EQ2 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t124: {desc: 'PRMTRC EQ2 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t125: {desc: 'PRMTRC EQ3 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t126: {desc: 'PRMTRC EQ3 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t127: {desc: 'PRMTRC EQ3 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t128: {desc: 'P-PRMTRC EQ1 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t129: {desc: 'P-PRMTRC EQ1 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t130: {desc: 'P-PRMTRC EQ1 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t131: {desc: 'P-PRMTRC EQ2 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t132: {desc: 'P-PRMTRC EQ2 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t133: {desc: 'P-PRMTRC EQ2 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t134: {desc: 'P-PRMTRC EQ3 FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t135: {desc: 'P-PRMTRC EQ3 LEVEL', toUi: defaultToUi, fromUi: defaultFromUi},\n\t136: {desc: 'P-PRMTRC EQ3 BWTH', toUi: defaultToUi, fromUi: defaultFromUi},\n\t137: {desc: 'HF TX MAX POWER', toUi: defaultToUi, fromUi: defaultFromUi},\n\t138: {desc: '50M TX MAX POWER', toUi: defaultToUi, fromUi: defaultFromUi},\n\t139: {desc: '144M TX MAX POWER', toUi: defaultToUi, fromUi: defaultFromUi},\n\t140: {desc: '430M TX MAX POWER', toUi: defaultToUi, fromUi: defaultFromUi},\n\t141: {desc: 'TUNER SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t142: {desc: 'VOX SELECT', toUi: defaultToUi, fromUi: defaultFromUi},\n\t143: {desc: 'VOX GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t144: {desc: 'VOX DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t145: {desc: 'ANTI VOX GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t146: {desc: 'DATA VOX GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t147: {desc: 'DATA VOX DELAY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t148: {desc: 'ANTI DVOX GAIN', toUi: toUiSimpleValue, fromUi: defaultFromUi},\n\t149: {desc: 'EMERGENCY FREQ TX', toUi: defaultToUi, fromUi: defaultFromUi},\n\t150: {desc: 'PRT/WIRES FREQ', toUi: defaultToUi, fromUi: defaultFromUi},\n\t151: {desc: 'PRESET FREQUENCY', toUi: defaultToUi, fromUi: defaultFromUi},\n\t152: {desc: 'SEARCH SETUP', toUi: defaultToUi, fromUi: defaultFromUi},\n\t153: {desc: 'WIRES DG-ID', toUi: defaultToUi, fromUi: defaultFromUi}\n};\n\nflow.set('config_items', config_items);\n\nconst ConfigItem = class {\n    constructor(no, value) {\n        this._no = no;\n        this._value = value;\n    }\n    \n    get no() { return this._no; }\n    get value() { return this._value; }\n\n    get desc() {\n        const ci = config_items[this._no];\n\n        return ci.desc;\n    }\n\n    get asRigSetting() {\n        return RigSetting.of('MENU', {no: this._no, value: this._value});\n    }\n\n    get toUi() {\n        const ci = config_items[this._no];\n\n        return ci.toUi(this._no, this._value);\n    }\n    \n    static fromUi(arg) {\n        throw new Error('Not implemented yet');\n    }\n\n    static of(arg) {\n        return new ConfigItem(arg.no, arg.value);\n    }\n}\n\nflow.set('ConfigItem', ConfigItem);",
        "finalize": "",
        "x": 235,
        "y": 100,
        "wires": [
            [
                "a7f8e61b.7258f8"
            ]
        ]
    },
    {
        "id": "46dc275e.ba5528",
        "type": "function",
        "z": "32b9106a.4589e",
        "d": true,
        "name": "Refresh GUI",
        "func": "\nlet menu_state = global.get('menu_state'),\n    debounce = flow.get('debounce'),\n    gui_state = flow.get('gui_state');\n    \nfor (const [key, value] of Object.entries(menu_state)) {\n  if(gui_state.hasOwnProperty(key)) {\n      if(gui_state[key] !== value) {\n          gui_state[key] = value;\n          \n          node.send({topic: key, payload: value});\n      }\n  }\n  else {\n      gui_state[key] = value;\n      \n      node.send({topic: key, payload: value});\n  }\n}\n\nflow.set('gui_state', gui_state);\n\nnode.done();\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('gui_state', {});",
        "finalize": "",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "9f015bb5.eb1dc8"
            ]
        ]
    },
    {
        "id": "f681ee06.39d49",
        "type": "inject",
        "z": "32b9106a.4589e",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 55,
        "y": 720,
        "wires": [
            [
                "46dc275e.ba5528"
            ]
        ],
        "l": false
    },
    {
        "id": "9bc357f4.ba8a68",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "Handle debounce",
        "func": "'use strict;'\n\nlet debounce = flow.get('debounce'),\n    last_state = flow.get('last_state');\n    \nfor (const [key, value] of Object.entries(debounce)) {\n\n  if(last_state.hasOwnProperty(key)) {\n\n      if(last_state[key] !== value.rawAnswer) {\n          last_state[key] = value.rawAnswer;\n          \n          node.send({topic: value.topic, payload: value});\n      }\n  }\n  else {\n      last_state[key] = value.rawAnswer;\n      \n      node.send({topic: value.topic, payload: value});\n  }\n}\n\nflow.set('last_state', last_state);\n\nnode.done();\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\n\nflow.set('last_state', {});",
        "finalize": "",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "abc36c8b.49bd7"
            ]
        ]
    },
    {
        "id": "757a8c4c.6316a4",
        "type": "inject",
        "z": "32b9106a.4589e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 75,
        "y": 780,
        "wires": [
            [
                "9bc357f4.ba8a68"
            ]
        ],
        "l": false
    },
    {
        "id": "541ba4ba.17818c",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "Load all config ",
        "func": "const next_config = flow.get('next_config'),\n      RigSetting = global.get('RigSetting');\n\nlet next_ex = null;\n\nif(next_config <= 153) {\n    const ex = RigSetting.of('MENU', {no: next_config, value: ''});\n\n    next_ex = { payload: ex.asRead };\n\n    flow.set('next_config', next_config + 1);\n}\n\nreturn next_ex;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "222e1298.d5333e"
            ]
        ]
    },
    {
        "id": "149124b5.fac2cb",
        "type": "debug",
        "z": "36d8cfa8.00955",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 395,
        "y": 240,
        "wires": []
    },
    {
        "id": "bd35d7b8.daa768",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Meters",
        "info": "",
        "x": 70,
        "y": 2200,
        "wires": []
    },
    {
        "id": "de894144.0f31c",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "po_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {po_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 2360,
        "wires": [
            [
                "a56c3b73.b894e8"
            ]
        ]
    },
    {
        "id": "490b6323.dfc4ac",
        "type": "comment",
        "z": "36d8cfa8.00955",
        "name": "Meter Switch",
        "info": "",
        "x": 90,
        "y": 2500,
        "wires": []
    },
    {
        "id": "5d2082a6.611d0c",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "meter_switch",
        "func": "let ms = msg.payload;\n\nreturn {payload: {meter_switch: ms.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 2540,
        "wires": [
            [
                "1463980e.0c23f8"
            ]
        ]
    },
    {
        "id": "958c0840.bef7b8",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "alc_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {alc_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 2240,
        "wires": [
            [
                "f08a366a.f40e38"
            ]
        ]
    },
    {
        "id": "9bb3211c.03e87",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "comp_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {comp_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 2280,
        "wires": [
            [
                "ac2448b.54ea3b8"
            ]
        ]
    },
    {
        "id": "9aa882be.428f3",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "swr_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {swr_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 371.1999969482422,
        "y": 2399.800048828125,
        "wires": [
            [
                "e4035c0e.1f2f3"
            ]
        ]
    },
    {
        "id": "370864ad.77afec",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "id_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {id_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 361,
        "y": 2320,
        "wires": [
            [
                "765fc830.5ea338"
            ]
        ]
    },
    {
        "id": "76ea3b9e.0c8544",
        "type": "function",
        "z": "36d8cfa8.00955",
        "name": "vdd_meter",
        "func": "let rs = msg.payload;\n\nreturn {payload: {vdd_meter: rs.value}};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 2440,
        "wires": [
            [
                "76f08022.c40b1"
            ]
        ]
    },
    {
        "id": "f4957c97.d011b",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 510,
        "y": 960,
        "wires": []
    },
    {
        "id": "5254abbf.2aaab4",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 840,
        "y": 380,
        "wires": []
    },
    {
        "id": "3217ca4b.1be0c6",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 590,
        "y": 760,
        "wires": []
    },
    {
        "id": "4d9903e1.a7ad7c",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "96fc3f21.ca5c3",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 550,
        "y": 818,
        "wires": []
    },
    {
        "id": "5c966a43.6ca814",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 390,
        "y": 1100,
        "wires": []
    },
    {
        "id": "324563b3.8a6bec",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 530,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7b45ceb6.f23ed",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 410,
        "y": 1300,
        "wires": []
    },
    {
        "id": "ff3678f2.db8be8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 470,
        "y": 1440,
        "wires": []
    },
    {
        "id": "5ff01c89.535f64",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 590,
        "y": 1500,
        "wires": []
    },
    {
        "id": "84528388.0ba3e",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 710,
        "y": 560,
        "wires": []
    },
    {
        "id": "e83b48b0.1e1f38",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 570,
        "y": 1980,
        "wires": []
    },
    {
        "id": "90f12983.192f58",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 450,
        "y": 620,
        "wires": []
    },
    {
        "id": "3ec17c54.34b114",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 510,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e2b33926.96bdb8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 510,
        "y": 1780,
        "wires": []
    },
    {
        "id": "ea279eb4.5dddd",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 570,
        "y": 1840,
        "wires": []
    },
    {
        "id": "d11c8fcb.4bdc5",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 390,
        "y": 2120,
        "wires": []
    },
    {
        "id": "63e66f45.c3b4c",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 440,
        "wires": []
    },
    {
        "id": "dc6c1348.90f2b",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 580,
        "wires": []
    },
    {
        "id": "ddb3e679.c08de8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "d": true,
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 655,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e1c550b.2edc2b",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "9f015bb5.eb1dc8",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 400,
        "y": 720,
        "wires": []
    },
    {
        "id": "abc36c8b.49bd7",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 420,
        "y": 780,
        "wires": []
    },
    {
        "id": "222e1298.d5333e",
        "type": "flowcontrolIn",
        "z": "32b9106a.4589e",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "a56c3b73.b894e8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 2360,
        "wires": []
    },
    {
        "id": "1463980e.0c23f8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 470,
        "y": 2540,
        "wires": []
    },
    {
        "id": "f08a366a.f40e38",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 2240,
        "wires": []
    },
    {
        "id": "ac2448b.54ea3b8",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 543,
        "y": 2280,
        "wires": []
    },
    {
        "id": "e4035c0e.1f2f3",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 541.1999969482422,
        "y": 2399.800048828125,
        "wires": []
    },
    {
        "id": "765fc830.5ea338",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 2320,
        "wires": []
    },
    {
        "id": "76f08022.c40b1",
        "type": "flowcontrolIn",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 540,
        "y": 2440,
        "wires": []
    },
    {
        "id": "a7a1894c.5cffc8",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "TO_UI",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "TO_UI",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "32d66e09.a27d62"
            ]
        ]
    },
    {
        "id": "878e3d25.f3563",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "FREQUENCY_VFO-A",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 159,
        "y": 960,
        "wires": [
            [
                "73ba80c7.20d9"
            ]
        ]
    },
    {
        "id": "98c509ae.1f24e8",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "ANTENNA_TUNER_CONTROL",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 190,
        "y": 760,
        "wires": [
            [
                "1c4a71e4.2855ce"
            ]
        ]
    },
    {
        "id": "2fd3d6a1.8a6dda",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "TUNER_EVENT",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 140,
        "y": 818,
        "wires": [
            [
                "299f4698.81a6aa"
            ]
        ]
    },
    {
        "id": "1ba35fd8.f2d5b",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "LOCK",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 110,
        "y": 1100,
        "wires": [
            [
                "615827bd.14ab08"
            ]
        ]
    },
    {
        "id": "c2d2e3f0.672f1",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "LOCK_EVENT",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "29c9ad6f.f10de2"
            ]
        ]
    },
    {
        "id": "dd11d45.b7b1428",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "MODE",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 110,
        "y": 1300,
        "wires": [
            [
                "44f940cc.6e0d8"
            ]
        ]
    },
    {
        "id": "f3d95bd.78392a8",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "PRE-AMP_(IPO)",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 141,
        "y": 1440,
        "wires": [
            [
                "8966cf54.edcbc"
            ]
        ]
    },
    {
        "id": "bfc70c4c.2e021",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "PRE_AMP_EVENT",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "a46ebafd.b79ee8"
            ]
        ]
    },
    {
        "id": "37037542.441caa",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_ALC",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 160,
        "y": 1640,
        "wires": [
            [
                "407bcb2b.b76c44"
            ]
        ]
    },
    {
        "id": "e4e4c199.7dd2",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "TX_SET",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "3577dee8.bb4d82",
                "b49c81d6.a9d11",
                "f7a86e4b.3428a"
            ]
        ]
    },
    {
        "id": "32d87102.369c8e",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_FRONT_PANEL",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 190,
        "y": 1980,
        "wires": [
            [
                "521af92f.676338"
            ]
        ]
    },
    {
        "id": "256584b6.9e7afc",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "POWER_CONTROL",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "b70b668c.9fc0f8"
            ]
        ]
    },
    {
        "id": "dcafe425.c02c68",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "POWER_CHANGE_EVENT",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 173,
        "y": 1840,
        "wires": [
            [
                "5de6016b.1dd4a"
            ]
        ]
    },
    {
        "id": "a5059d4f.8ff6c",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "MENU",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 110,
        "y": 2120,
        "wires": [
            [
                "9197749a.bfee18"
            ]
        ]
    },
    {
        "id": "5ea91238.1af28c",
        "type": "flowcontrolOut",
        "z": "32b9106a.4589e",
        "topic": "SERIAL_OUT",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "953f881.09fb578",
                "3eb84881.bfc188"
            ]
        ]
    },
    {
        "id": "cad33cb1.45fc5",
        "type": "flowcontrolOut",
        "z": "32b9106a.4589e",
        "topic": "MENU",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 90,
        "y": 840,
        "wires": [
            [
                "541ba4ba.17818c"
            ]
        ]
    },
    {
        "id": "c24a74f4.3fd018",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_PO",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 150,
        "y": 2360,
        "wires": [
            [
                "de894144.0f31c"
            ]
        ]
    },
    {
        "id": "4fd3500f.4ca51",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "METER_SW",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 130,
        "y": 2540,
        "wires": [
            [
                "5d2082a6.611d0c"
            ]
        ]
    },
    {
        "id": "507410cf.62be6",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_ALC",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 160,
        "y": 2240,
        "wires": [
            [
                "958c0840.bef7b8"
            ]
        ]
    },
    {
        "id": "d45e9406.72bb08",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_COMP",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 170,
        "y": 2280,
        "wires": [
            [
                "9bb3211c.03e87"
            ]
        ]
    },
    {
        "id": "79aa365b.115b88",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_SWR",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 161.1999969482422,
        "y": 2399.800048828125,
        "wires": [
            [
                "9aa882be.428f3"
            ]
        ]
    },
    {
        "id": "56bd1dd2.2f3a34",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_ID",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 150,
        "y": 2320,
        "wires": [
            [
                "370864ad.77afec"
            ]
        ]
    },
    {
        "id": "1107f59d.d7e7ea",
        "type": "flowcontrolOut",
        "z": "36d8cfa8.00955",
        "topic": "READ_METER_-_VDD",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 160,
        "y": 2440,
        "wires": [
            [
                "76ea3b9e.0c8544"
            ]
        ]
    },
    {
        "id": "c229a01c.c9c49",
        "type": "uibuilder",
        "z": "36d8cfa8.00955",
        "name": "",
        "topic": "",
        "url": "noderig",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "2f69877c.f1a878",
                "4d9903e1.a7ad7c"
            ],
            [
                "bfbcfc9e.c6d8f"
            ]
        ]
    },
    {
        "id": "f230edfc.498f2",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 420,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "951535b4.0dab88",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read ID",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_ID').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "4959bf97.b22bb"
            ]
        ]
    },
    {
        "id": "f056f32e.f5dab",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read VDD",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_VDD').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "f230edfc.498f2"
            ]
        ]
    },
    {
        "id": "1b4892fc.fb855d",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read COMP",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_COMP').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 297,
        "wires": [
            [
                "229e9148.44edee"
            ]
        ]
    },
    {
        "id": "996caee5.4c08c",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read PO",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_PO').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 337,
        "wires": [
            [
                "c874a830.bb2de8"
            ]
        ]
    },
    {
        "id": "4959bf97.b22bb",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 377,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "c874a830.bb2de8",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 337,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "229e9148.44edee",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 297,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "30f04bb5.031f24",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read ALC",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_ALC').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 217,
        "wires": [
            [
                "b01c6945.3558a8"
            ]
        ]
    },
    {
        "id": "b01c6945.3558a8",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 516.7999877929688,
        "y": 213.800048828125,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "846e7809.7fc6c8",
        "type": "trigger",
        "z": "f0e53ee8.4481e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 257,
        "wires": [
            [
                "bf4b9f0e.86832"
            ]
        ]
    },
    {
        "id": "b6737104.4c813",
        "type": "function",
        "z": "f0e53ee8.4481e",
        "name": "Read SWR",
        "func": "const tx = msg.payload,\n      RigSetting = global.get('RigSetting');\n\nif(tx.value) {\n    return {payload: RigSetting.of('READ_METER_-_SWR').asRead};\n}\nelse {\n    return {reset: true};\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 257,
        "wires": [
            [
                "846e7809.7fc6c8"
            ]
        ]
    },
    {
        "id": "8e1a1578.7ff088",
        "type": "comment",
        "z": "f0e53ee8.4481e",
        "name": "This is a handy tool to look at all of the meters while in transmit",
        "info": "",
        "x": 270,
        "y": 157,
        "wires": []
    },
    {
        "id": "bf4b9f0e.86832",
        "type": "flowcontrolIn",
        "z": "f0e53ee8.4481e",
        "topic": "SERIAL_OUT",
        "context": "",
        "version": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 730,
        "y": 317,
        "wires": []
    },
    {
        "id": "fc38ce7c.53889",
        "type": "flowcontrolOut",
        "z": "f0e53ee8.4481e",
        "d": true,
        "topic": "TX_SET",
        "context": "",
        "retained": false,
        "blTopic": "",
        "blObj": "",
        "name": "",
        "x": 130,
        "y": 317,
        "wires": [
            [
                "951535b4.0dab88",
                "f056f32e.f5dab",
                "1b4892fc.fb855d",
                "996caee5.4c08c",
                "30f04bb5.031f24",
                "b6737104.4c813"
            ]
        ]
    },
    {
        "id": "1fa925f6.030a7a",
        "type": "function",
        "z": "32b9106a.4589e",
        "name": "",
        "func": "\nconst next_setting = flow.get('next_setting');\n\nif(next_setting.length) {\n    node.send({ payload: next_setting.shift() });\n    flow.set('next_setting', next_setting);\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "dc6c1348.90f2b"
            ]
        ]
    }
]